<!DOCTYPE html>
<html>
<head>
  <title>Best In Place TEST APP</title>
  <%= stylesheet_link_tag "scaffold", "style" %>
  <%= javascript_include_tag "jquery-1.4.4.min", "rails", "jquery.purr", "best_in_place", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
