<!DOCTYPE html>
<html>
<head>
  <title>Best In Place TEST APP</title>
  <%= stylesheet_link_tag "scaffold", "style", "jquery-ui-1.8.16.custom" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
